*{
    box-sizing: border-box;
    margin: 0;
   
}
body{
    
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./db34d40b271fb59477621550bf73ea0b.jpg);
 background-size: cover;
}

#quiz{
display: flex;
}
.btnCon{
    display: flex;
    justify-content: center;
}

#submitBtn{
margin-top: 40px;
display: flex;
width: 130px;
height: 30px;
justify-content: center;
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.634);
font-size: large;
border-color: rgb(49, 107, 44);
align-items: center;

}

#submitBtn:hover{
    background-color:  rgb(128, 156, 98);
    color: whitesmoke;
}

#result{
display: flex;

}


.title{
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  text-align: center;
}

.question{
 align-items: center;
font-size: x-large;
text-align: center;
}

.options{
 display: flex;
font-size: x-large;
flex-direction: column;
align-items: start;

}

.questionCon{ 
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.center{
    border: solid, white, 5px;
    border-radius: 25px;
    margin-top: 100px;
    align-items: center;
    background-color: rgba(203, 199, 199, 0.829);
justify-self: center;
margin-left: 400px;
margin-right: 400px;
height: 300px;
}

