*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./db34d40b271fb59477621550bf73ea0b.jpg);
    background-size: cover;
}

.center{
    height: auto;
    width: 85%;
    margin: 100px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border: solid, white, 5px;
    border-radius: 25px;
    background-color: rgba(203, 199, 199, 0.829);
}

@media(min-width: 900px){
    .center{
        width: 550px;
    }
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.questionCon{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: 20px;
}

.question{
    align-items: center;
    margin: 5px 2px;
    font-size: x-large;
    text-align: center;
}

.options{
    display: flex;
    font-size: x-large;
    flex-direction: column;
    align-items: start;
}

.btnCon{
    display: flex;
    justify-content: center;
}

#submitBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.634);
    font-size: large;
    border-color: rgb(49, 107, 44);
    border-radius: 20px;
}

#submitBtn:hover{
    background-color:  rgb(128, 156, 98);
    color: whitesmoke;
}